.navbar{
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal
}
.category{
    
    font-size: 1.05rem;
    cursor: pointer;
    font-weight: 450;
    color: white;
}
.category:hover{
    color: rgb(103, 244, 105);
}
.check{
    background-color: red;
    gap:2px;
    margin: 1px;;
}

